<html>

<head>
  <title>Image Tagging</title>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='tagSelector.css') }}">
</head>

<body>

  <div class="imageContainer">

    <label for="currentImage" id="filename"></label>
    <img id="currentImage" src="">
    <div id="tagContainer">
    </div>

  </div>
  <div>
    <button id="butPrev" onclick="loadPrevImage()">Previous</button>
    <button id="butNext" onclick="loadNextImage()">Next</button>
  </div>

  <div>
    <input id="tags" name='tags' class='some_class_name' placeholder='write some tags' value='css, html, javascript'>
    <button id="setTags" onclick="setTags()">setTags</button>
  </div>

  <div class="tagSuggestions">
    <div>
      <label for="tagCategories">Tag Categories</label>
      <select id="tagCategories" onchange="onCategorySelection(event.target.value)">
      </select>
      <div id="tagsInCategory" class="tagList">
      </div>
    </div>

    <div>
      <label for="popularTags">Most Popular Tags</label>
      <div id="popularTags" class="tagList">
      </div>

    </div>
  </div>

  <script src="{{ url_for('static', filename='initialize.js') }}"></script>
  <script src="{{ url_for('static', filename='tagSelector.js') }}"></script>
</body>

</html>